<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="styles/common_styles.css"/>
		<link rel="stylesheet" href="styles/info_styles.css"/>
		<script src="lib/vue.js"></script>
	</head>
	
	<body>
		<table id="tree-info-wrapper" cellpadding="0" cellspacing="0">
			<tr id="tree-info-row">
			
				<td class="tree-info-cell"><iframe id="tree-wrapper" src="tree.html" onload="initEventHandler()"></iframe></td>
				<td class="tree-info-cell">
					<div id="info-wrapper">
						<div class="person-names">
							<div class="person-first-name">{{ first_name }}</div>
							<div class="person-last-name">{{ last_name }}</div>
						</div>
						<div class="person-birth">
							<div class="person-birth-date">{{ birth_date == null || birth_date == undefined ? '' : ('Род. ' + birth_date) }}</div>
							<div class="person-birth-history">{{ birth_history }}</div>
						</div>
						<div class="{{ death_date == null || death_date == undefined ? 'no-display' : 'person-death' }}">
							<div class="person-death-date">{{ death_date == null || death_date == undefined ? '' : ('Ум. ' + death_date) }}</div>
							<div class="{{ death_history == null || death_history == undefined ? 'no-display' : 'person-death-history' }}">{{ death_history }}</div>
						</div>
						
						<div id="parents-wrapper" hidden>
							<div class="person-parents-static-text">Родители:</div>
							<div class="person-father"> {{ 'Отец: ' | father parent1 parent2 }}</div>
							<div class="person-mother"> {{ 'Мать: ' | mother parent1 parent2 }}</div>
						</div>
						
						<div v-if="parent1 != null" class="brothers-sisters-wrapper">
							<div class="person-brothers-sisters-static-text">Родные братья и сестры: </div>
							<ul class="person-brothers-sisters-list" v-for="brotherOrSister of parent1 | brotherSister">
								<li class="person-brothers-sisters-list-item">{{ brotherOrSister.first_name + ' ' + brotherOrSister.last_name }}</li>
							</ul>
						</div>
						 
						<div class="merries-wrapper">
							<div class="merries-static-text"> {{ merries.length > 0 ? 'История браков: ' : '' }}</div>
							<ul v-for="merry of merries" class="person-merries">
								<li class="{{ merry == null || merry == undefined ? 'no-display' : (merry == merries[merries.length - 1] ? 'person-merry' : 'person-ex-merry') }}">
									<div class="person-couple">{{ merry?.couple?.first_name + ' ' + merry?.couple?.last_name }}</div>
									<div class="merry-divorce-dates">
										{{ '(' + merry?.merry_date + (merry?.divorce_date == null || merry?.divorce_date == undefined ? '' : ' — ' + merry?.divorce_date) + ')' }}
									</div>
									
									<div v-if="merry != null && merry.children.length != 0" class="person-children-wrapper">
										<div class="person-children-static-text">Общие дети: </div>
										<ul v-for="child in merry.children" class="person-children-list">
											<li class="person-children-list-item">{{ child.first_name + ' ' + child.last_name }}</li>
										</ul>
									</div>
									
								</li>
							</ul>
						</div>
					</div>
				</td>
				
			</tr>
		</table>
		
		<!--Всплывающее сообщения-->
		
		<div id="person-main-info-popup" class="popup-wrapper" hidden>
			<div class="popup-body">
				<center class="popup-info-wrapper">
					<div class="main-info-static-text">Общая информация: </div>
					<center class="popup-info">
						<div class="person-names">
							<div class="person-first-name">{{ first_name }}</div>
							<div class="person-last-name">{{ last_name }}</div>
						</div>
						<div class="person-birth">
							<div class="person-birth-date">{{ birth_date == null || birth_date == undefined ? '' : ('Род. ' + birth_date) }}</div>
							<div class="person-birth-history">{{ birth_history }}</div>
						</div>
						<div class="{{ death_date == null || death_date == undefined ? 'no-display' : 'person-death' }}">
							<div class="person-death-date">{{ death_date == null || death_date == undefined ? '' : ('Ум. ' + death_date) }}</div>
							<div class="{{ death_history == null || death_history == undefined ? 'no-display' : 'person-death-history' }}">{{ death_history }}</div>
						</div>
					</center>
				</center>
			</div>
		</div>
		
		<div id="person-parents-popup" class="popup-wrapper" hidden>
			<div class="popup-body">
				<center class="popup-info-wrapper">
					<div>
						<div class="person-parents-static-text">Родители: </div>
						<center class="popup-info">
							<div class="person-father"> {{ 'Отец: ' | father parent1 parent2 }}</div>
							<div class="person-mother"> {{ 'Мать: ' | mother parent1 parent2 }}</div>
						</center>
					</div>
				</center>
			</div>
		</div>
		
		<div id="person-sisters-brothers-popup" class="popup-wrapper" hidden>
			<div class="popup-body">
				<center class="popup-info-wrapper">
					<div class="brothers-sisters-wrapper">
						<div class="person-brothers-sisters-static-text">Родные братья и сестры: </div>
						<center v-if="parent1 != null" class="popup-info">
							<ul class="person-brothers-sisters-list" v-for="brotherOrSister of parent1 | brotherSister">
								<li class="person-brothers-sisters-list-item">{{ brotherOrSister.first_name + ' ' + brotherOrSister.last_name }}</li>
							</ul>
						</center>
					</div>
				</center>
			</div>
		</div>
		
		<div id="person-merries-popup" class="popup-wrapper" hidden>
			<div class="popup-body">
				<center class="popup-info-wrapper">
					<div class="merries-wrapper">
						<div class="merries-static-text">История браков: </div>
						<center class="popup-info">
							<ul v-for="merry of merries" class="person-merries">
								<li class="{{ merry == null || merry == undefined ? 'no-display' : (merry == merries[merries.length - 1] ? 'person-merry' : 'person-ex-merry') }}">
									<div class="person-couple">{{ merry?.couple?.first_name + ' ' + merry?.couple?.last_name }}</div>
									<div class="merry-divorce-dates">
										{{ '(' + merry?.merry_date + (merry?.divorce_date == null || merry?.divorce_date == undefined ? '' : ' — ' + merry?.divorce_date) + ')' }}
									</div>
									
									<div v-if="merry != null && merry.children.length != 0" class="person-children-wrapper">
										<div class="person-children-static-text">Общие дети: </div>
										<ul v-for="child in merry.children" class="person-children-list">
											<li class="person-children-list-item">{{ child.first_name + ' ' + child.last_name }}</li>
										</ul>
									</div>
									
								</li>
							</ul>
						</center>
					</div>
				</center>
			</div>
		</div>
		
		<script src="scripts/info_filler.js"></script>
		
	</body>
	
</html>