body { overflow : hidden; }

html, body, #tree-info-wrapper, #tree-info-row {
	margin : 0;
	padding : 0;
	
	width : 100%;
	height : 100%;
}

.tree-cell, .info-cell {
	height : 100%;
}

#tree-wrapper, #info-wrapper {
	height : 100%;
}

#tree-wrapper {
	width : 79vw;
	border : 0;
	overflow-y : scroll;
	transition: width 0.5s;
}

#info-wrapper {
	width : 19vw;
	padding : 1vw;
	overflow-y : scroll;
	border-left : 0.2em solid #A0A0A0;
	background-color : #EEEEEE;
	transition: width 0.5s;
}

#info-expand-button {
	top : 47.5vh;
	left : 77vw;
	
	width : 3vw;
	height : 3vw;
	
	position : fixed;
	transition: left 0.5s;
	
	border-radius : 1.5vw;
	background-color: #FFFFFF;
	border : 0.2em solid #A0A0A0;
	
	background-size : cover;
	background-position : center;
	background-repeat : no-repeat;
	background-image : url(../imgs/expand.png);
}

#info-expand-button:hover {
	background-color: #EEEEEE;
}

.popup-wrapper {
	width : 100%;
	height : 100%;
	
	top : 0;
	left : 0;
	
	position : fixed;
	background-color : #50505050; 
}

.popup-body {
	width : 30%;
	height : 30%;
	
	position : relative;
	
	top : 35%;
	left : 35%;
	
	border : 0.2vh solid #A0A0A0;
	border-radius : 2vh;
	background-color : #EEEEEE;
}

.popup-photo {
	width : auto;
	vertical-align : middle;
}

.popup-info-wrapper {
	height : 76%;
	margin-top : 6%;
	margin-bottom : 6%;
	vertical-align : middle;
	overflow-y : scroll;
}